{% extends "layout.html" %}
{% load static %}

{% block title %}轉設系統{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'index/index.css' %}">
<script src="{% static 'index/index.js' %}" defer></script>
{% endblock %}

{% block content %}
<div id="login-button-container">
    <a href="{% url 'login' %}" class="login-btn">登入</a>
</div>
<h1>歡迎來到轉設系統！</h1>
<noscript>
    <p>您的瀏覽器不支援 JavaScript，請啟用 JavaScript 以獲得最佳體驗。</p>
</noscript>
<table id="clubs-overview">
    <caption hidden="">社團總攬</caption>
    <thead>
        <tr>
            <th scope="col">社團名稱</th>
            <th scope="col">社長</th>
            <th scope="col">介紹</th>
            <th scope="col">目前人數</th>
            <th scope="col">人數餘額</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot></tfoot>
</table>

{% endblock %}